    .pr {
        position: relative;
    }
    *{
margin: 0%;
padding: 0%;
}

/*FOOTER*/

footer {
    background: #16222A;
    background: -webkit-linear-gradient(59deg, #3A6073, #16222A);
    background: linear-gradient(59deg, #3A6073, #16222A);
    color: white;
    margin-top:100px;
  }
  
  footer a {
    color: #fff;
    font-size: 14px;
    transition-duration: 0.2s;
  }
  
  footer a:hover {
    color: #FA944B;
    text-decoration: none;
  }
  
  .copy {
    font-size: 12px;
    padding: 10px;
    border-top: 1px solid #FFFFFF;
  }
  
  .footer-middle {
    padding-top: 2em;
    color: white;
  }
  
  
  /*SOCİAL İCONS*/
  
  /* footer social icons */
  
  ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
  }
  
  ul.social-network li {
    display: inline;
    margin: 0 5px;
  }
  
  
  /* footer social icons */
  
  .social-network a.icoFacebook:hover {
    background-color: #3B5998;
  }
  
  .social-network a.icoLinkedin:hover {
    background-color: #007bb7;
  }
  
  .social-network a.icoFacebook:hover i,
  .social-network a.icoLinkedin:hover i {
    color: #fff;
  }
  
  .social-network a.socialIcon:hover,
  .socialHoverClass {
    color: #44BCDD;
  }
  
  .social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 30px;
    height: 30px;
    font-size: 15px;
  }
  
  .social-circle li i {
    margin: 0;
    line-height: 30px;
    text-align: center;
  }
  
  .social-circle li a:hover i,
  .triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
  }
  
  .social-circle i {
    color: #595959;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
  }
  
  .social-network a {
    background-color: #F9F9F9;
  }




    .pa {
        position: absolute;
    }
    .text-large {
        font-size: 150%;
      }
    
    .a {
        bottom: -526px;
        height: 65px;
        background-color: pink;
        color: black;
    }
    
    .k {
        color: black;
    }
    
    .c1 {
        font-family: 'Pacifico';
    }
    
    .c2 {
        margin-top: 10px;
        font-size: 18px;
    }
    
    .d {
        font-family: 'Pacifico';
        color: pink;
        text-align: center;
        font-size: 63px;
    }
    
    .d1 {
        font-family: Myriad Pro;
    }
    
    .e {
        margin-top: 20px;
        margin-left: -153px;
    }
    
    .flex {
        display: flex;
    }
    
    body {
        overflow-x: hidden;
    }
    
    img {
        max-width: 100%;
    }
    
    .m {
        font-family: 'Pacifico';
        color: rgb(233, 98, 121);
        font-size: 45px;
    }
    
    .z {
        margin-bottom: 20px;
    }
    
    .t {
        left: 45%;
        font-family: 'Pacifico';
        color: rgb(233, 98, 121);
        font-size: 45px;
    }
    
    .c {
        font-size: 45px;
    }
    
    .bg {
        background-color: white;
    
    }
    
    .bc {
        background: pink;
    }
    
    .n {
        border: 1px solid #d89898;
        background-color: pink;
    }
    
    .wr {
        word-break: break-word;
        width: 617px;
        margin-bottom: 40px;
    }
    
    .fs {
        font-size: 32px;
    }
    img{
        width: 100%;
    }
    
    .d5 {
        margin-top: 70px;
    }
    
    .vs {
        border: 1px solid #d89898;
        color: pink;
        padding-top: 45px;
        font-size: large;
        width: 100%;
    }
    
    .checked {
        color: orange;
    }
    
    .ft {
        font-size: 20px;
    }
    
    .p {
        font-size: 32px;
    }
    
    .bi {
        top: -536px;
        left: 101px;
        border: 1px #fff;
        background-color: white;
        color: palevioletred;
    }
    
    .bj {
        border: 1px #fff;
        top: -535px;
        left: 270px;
        background-color: #fff;
        color: palevioletred;
    }
    
    .bk {
        border: 1px #fff;
        top: -527px;
        left: 181px;
        background-color: #fff;
        color: palevioletred;
    }
    
    .b {
        margin-right: 34%;
        float: right;
        font-size: 40px;
    }
    
    .q {
        margin-left: -484px;
        margin-top: 73px;
        float: left;
    }
    
    .r {
        margin-top: 163px;
        margin-left: -604px;
        float: left;
        font-size: 42px;
    }
    
    .p {
        text-align: center;
    }
    
    .pd {
        padding: 68px;
    }
    
    .pc {
        padding: 77px;
    }
    
    .K {
        MARGIN-LEFT: 489PX;
    }
    
    @media only screen and (max-width: 700px) {
        body {
            overflow-x: hidden;
        }
        img {
            max-width: 100%;
        }
        .mb {
            margin-bottom: 50px;
        }
        .p {
            text-align: start;
        }
        .pd {
            padding: 0px;
        }
        .pc {
            padding: 0px;
        }
        .bi {
            left: 31px;
            border: 1px #fff;
            background-color: white;
            color: palevioletred;
        }
        
        .b {
            margin-right: 17%;
            margin-top: -88%;
            float: right;
            font-size: 40px;
        }
    }